* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f3f3f3;
  overflow-x: hidden;
}

.navbar {
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  height: 70px;
  background: #fff;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  z-index: 1000;
  border: 1px solid #ddd;
}

.logo img {
  height: 32px;
}

.nav-links {
  display: flex;
  gap: 30px;
  align-items: center;
}

.btn {
  padding: 10px 25px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

.primary {
  background: #1a4dff;
  color: white;
}

.outline {
  border: 1px solid #000;
  background: transparent;
}

/* ================= HERO ================= */

.hero1 {
  position: relative;
  text-align: center;
  padding: 170px 20px 200px;
  justify-content: center;
  margin-top: 100px;
}

.hero1 h1 {
  font-size: 48px;
  color: #2d2d2d;
}

.hero1 span {
  font-weight: bold;
}

.cta {
  margin-top: 25px;
  margin-left: 42%;
  padding: 14px 30px;
  background: linear-gradient(45deg, #3b6df6, #5c8dfc);
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.float {
  position: absolute;
  width: 110px;
  height: 110px;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  animation: float 6s ease infinite;
}

.img1 {
  top: 10px;
  left: 12%;
}
.img2 {
  top: 10px;
  right: 12%;
}
.img3 {
  top: 50px;
  left: 45%;
}

.img4 {
  top: 220px;
  left: 0%;
}
.img5 {
  top: 220px;
  right: 0%;
}

.img6 {
  right: 2%;
  top: 400px;
}

.img7 {
  bottom: 30px;
  left: 15%;
  width: 200px;
  height: 150px;
}
.img8 {
  bottom: 30px;
  right: 30%;
  width: 120px;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* =================================== SECTION 2 ================================= */
.stats-section {
  background: #e7e5e5;
  padding: 120px 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.stats-section h2 {
  font-size: 40px;
  line-height: 1.2;
  max-width: 700px;
  margin-bottom: 100px;
}

.stats-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stat h1 {
  font-size: 120px;
  font-weight: 700;
}

.stat p {
  margin-top: 10px;
  font-size: 20px;
  color: #222;
}

.stat {
  position: relative;
  padding-left: 30px;
}

.stat::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 1px;
  height: 140px;
  background: #ccc;
}

.cta-btn {
  display: block;
  margin: 100px auto 0;
  padding: 18px 50px;
  background: #1a4dff;
  color: white;
  border: none;
  border-radius: 40px;
  font-size: 18px;
  cursor: pointer;
}

/* =================================  SECTION 3 ===================================== */
.demo {
  background: #f3f3f3;
  padding: 140px 20px;
  text-align: center;
}

.demo-top {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
}

.demo h2 {
  font-size: 40px;
  line-height: 1.2;
  max-width: 900px;
  margin: 0 auto 80px;
}

.video-box {
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.15);
}

.video-box video {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
}

/* ==============================  SECTION 4========================================= */
.features {
  background: #e7e5e5;
  text-align: center;
  padding: 140px 20px;
}

.features-top {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
}

.features h2 {
  font-size: 50px;
  line-height: 1.2;
  max-width: 900px;
  margin: 0 auto 30px;
  font-weight: bold;
}

.features-sub {
  font-size: 20px;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
  color: #333;
}

input {
  display: none;
}

.tabs {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border: 1px solid #ddd;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}

.tabs label {
  padding: 18px;
  text-align: center;
  cursor: pointer;
  border-right: 1px solid #ddd;
  background: #f9f9f9;
}

.tabs label:last-child {
  border-right: none;
}

#t1:checked ~ .tabs label[for="t1"],
#t2:checked ~ .tabs label[for="t2"],
#t3:checked ~ .tabs label[for="t3"],
#t4:checked ~ .tabs label[for="t4"],
#t5:checked ~ .tabs label[for="t5"],
#t6:checked ~ .tabs label[for="t6"] {
  border-bottom: 3px solid black;
  background: white;
}

.contents {
  border: 1px solid #ddd;
  border-top: none;
  padding: 60px;
  border-radius: 0 0 20px 20px;
  background: rgb(248, 245, 245);
}

.content {
  display: none;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

#t1:checked ~ .contents .c1,
#t2:checked ~ .contents .c2,
#t3:checked ~ .contents .c3,
#t4:checked ~ .contents .c4,
#t5:checked ~ .contents .c5,
#t6:checked ~ .contents .c6 {
  display: flex;
}

.left img {
  width: 600px;
  border-radius: 25px;
  padding: 20px;
}

.right {
  max-width: 500px;
}

.small {
  color: #555;
  font-weight: 500;
  font-weight: bold;
}

.right h2 {
  font-size: 42px;
  margin: 10px 0;
  font-weight: bold;
}

.right p {
  font-size: 18px;
  line-height: 1.6;
}

.actions {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 25px;
}

.start-btn {
  background: #1a4dff;
  color: white;
  border: none;
  padding: 14px 28px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
}

.start-btn:hover {
  background: #0033cc;
}

.explore {
  text-decoration: none;
  color: black;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
}

.explore span {
  font-size: 20px;
  transition: 0.3s;
}

.explore:hover span {
  transform: translateX(5px);
}

/* =================================== SECTION 5 === ================================= */
.research {
  background: #9fc9c5;
  padding: 80px 100px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.tag {
  font-size: 18px;
  margin-bottom: 20px;
}

.left h1 {
  font-size: 45px;
  line-height: 1.1;
  margin: 0;
}

.right {
  max-width: 420px;
}

.note {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 40px;
}

.report {
  text-decoration: none;
  color: black;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.report span {
  font-size: 22px;
  transition: 0.3s;
}

.report:hover span {
  transform: translateX(6px);
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  background: #9fc9c5;
}

.stat {
  flex: 1;
  padding-left: 30px;
  position: relative;
}

.stat::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 1px;
  height: 120px;
  background: rgba(0, 0, 0, 0.2);
}

.stat h2 {
  font-size: 66px;
  margin: 0 0 10px;
}

.stat p {
  font-size: 20px;
  line-height: 1.6;
}

/* =================================== SECTION 6 ================================= */

.partnership {
  padding: 80px 60px;
}

.partnership-container {
  display: flex;
  align-items: center;
  gap: 80px;
}

.left-img {
  flex: 1;
  position: relative;
}

.left-img img {
  width: 100%;
  border-radius: 20px;
}

.right-content {
  flex: 1;
}

.right-content .tag {
  font-size: 18px;
  margin-bottom: 20px;
}

.right-content h1 {
  font-size: 60px;
  line-height: 1.2;
  margin-bottom: 25px;
}

.right-content p {
  font-size: 18px;
  color: #444;
  line-height: 1.6;
  max-width: 500px;
  margin-bottom: 35px;
}

.btn-group {
  display: flex;
  align-items: center;
  gap: 20px;
}

.btn-outline {
  padding: 14px 30px;
  border-radius: 30px;
  border: 1px solid #ccc;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
}

.btn-primary {
  padding: 14px 30px;
  border-radius: 30px;
  border: none;
  background: #1a4dff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.btn-primary:hover {
  background: #003cff;
}

.btn-outline:hover {
  background: #eee;
}

@media (max-width: 900px) {
  .partnership-container {
    flex-direction: column;
  }

  .right-content h1 {
    font-size: 40px;
  }
}

/* =================================== SECTION 7 ================================= */
.faq {
  padding: 80px 60px;
}

.faq-container {
  display: flex;
  gap: 80px;
}

.faq-left {
  flex: 1;
}

.faq-left h1 {
  font-size: 64px;
  line-height: 1.2;
  margin-bottom: 25px;
}

.faq-left p {
  font-size: 18px;
  color: #444;
  line-height: 1.6;
  margin-bottom: 30px;
}

.contact-btn {
  padding: 14px 28px;
  border-radius: 30px;
  border: 1px solid #ccc;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
}

.faq-right {
  flex: 1;
}

details {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

summary {
  font-size: 18px;
  font-weight: 600;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: "+";
  font-size: 22px;
}

details[open] summary::after {
  content: "×";
}

details p {
  margin-top: 15px;
  font-size: 16px;
  color: #444;
  line-height: 1.6;
}

.see-more {
  margin: 30px 0;
  text-align: center;
}

.see-more button {
  padding: 12px 28px;
  border-radius: 30px;
  border: 1px solid #ccc;
  background: transparent;
  cursor: pointer;
}

.faq-bottom {
  margin-top: 50px;
  text-align: center;
  border-top: 1px solid #ddd;
  padding-top: 40px;
}

.faq-bottom p {
  margin-bottom: 20px;
  color: #555;
}

.start-btn {
  background: #1a4dff;
  color: white;
  border: none;
  padding: 14px 30px;
  border-radius: 30px;
  cursor: pointer;
}

@media (max-width: 900px) {
  .faq-container {
    flex-direction: column;
  }

  .faq-left h1 {
    font-size: 40px;
  }
}

/* =================================== SECTION 8================================= */
.blog-section {
  padding: 80px 8%;
  background: white;
}

.blog-header {
  text-align: center;
  margin-bottom: 60px;
}

.blog-header p {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

.blog-header h1 {
  font-size: 48px;
  font-weight: 700;
}

.blog-header span {
  display: block;
  font-size: 18px;
  color: #555;
  margin-top: 10px;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.blog-card {
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #e5e5e5;
  transition: 0.3s;
}

.blog-card:hover {
  transform: translateY(-5px);
}

.blog-card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.blog-content {
  padding: 25px;
}

.blog-content h2 {
  font-size: 26px;
  margin-bottom: 10px;
}

.blog-content p {
  color: #555;
  font-size: 16px;
  margin-bottom: 20px;
}

.blog-footer {
  font-size: 14px;
  color: #333;
}

.blog-footer span {
  display: block;
  color: #777;
  margin-top: 5px;
}

@media (max-width: 900px) {
  .blog-grid {
    grid-template-columns: 1fr;
  }

  .blog-header h1 {
    font-size: 36px;
  }
}

/* =================================== SECTION 9 ================================= */

.footer-section {
  background: #cdb3d9;
  padding: 80px 8%;
}

.cta1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.cta1 h1 {
  font-size: 64px;
  max-width: 700px;
}

.cta1 p {
  margin-top: 20px;
  font-size: 18px;
}

.cta-buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.btn-blue {
  background: #1a4dff;
  color: #fff;
  padding: 15px 28px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
}

.btn-outline {
  background: transparent;
  border: 1px solid #aaa;
  padding: 15px 28px;
  border-radius: 30px;
  font-size: 16px;
}

.divider {
  margin: 60px 0;
  border-top: 1px solid #a88fb6;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
}

.footer-links h4 {
  margin-bottom: 15px;
}

.footer-links a {
  display: block;
  text-decoration: none;
  color: #111;
  margin: 8px 0;
  font-size: 15px;
}

.footer-bottom {
  margin-top: 60px;
}

.logo {
  width: 140px;
}

.settings {
  display: flex;
  gap: 20px;
  margin: 30px 0;
}

.setting-btn {
  border: 1px solid #aaa;
  padding: 12px 20px;
  border-radius: 30px;
  background: #e5d6ec;
  display: flex;
  align-items: center;
  gap: 10px;
}

.badges {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

.badges img {
  height: 100px;
  width: 300px;
}

.bottom-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  flex-wrap: wrap;
}

.social i {
  font-size: 22px;
  margin-left: 20px;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .footer-links {
    grid-template-columns: repeat(2, 1fr);
  }

  .cta h1 {
    font-size: 40px;
  }
}
